.card {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  height: 100vh;
  background-color: #ffe6c9;
  padding: 20px;
}
