.flexContainer {
	display: flex;
	gap: 40px;
	margin: 0 0 20px 20px;
}

.button {
	color: var(--secondary-color);
	font-size: 25px;
	font-weight: bold;
}

.active {
	border-bottom: 4px solid var(--primary-color);
	color: var(--primary-color);
}
