* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul[class],
ol[class] {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type="file"] {
	max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--main-red: #fe6756;
	--main-blue: #5292fe;
	--main-gray: #f1f4f9;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background-color: var(--main-gray);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
	padding-left: 1rem;
	color: var(--main-blue);
}

.flex-container {
	display: flex;
	gap: 0.5rem;
	padding-left: 20px;
	max-width: 500px;
	width: 100%;
	align-items: center;

	p {
		white-space: normal;
		word-break: break-word;
	}
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.33);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-window {
	width: 90%;
	max-width: 500px;
	padding: 20px;
	background-color: var(--main-gray);
	border-radius: 8px;
}
